.card {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    margin-top: 2rem;
    position: relative;
    width: 165px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-block
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%;
   
  }
  .imagesContainer{
      position: relative;
      height: 600px;
      width: 800px;
      background-color: crimson;
      margin: auto;
      margin-bottom: 100px;
      box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
 